
html {
    box-sizing: border-box;
   font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    background-color: #588de4;
}

h1 {
    text-align: center;
    color: #061c47;
    font-size: 6rem;
    margin-bottom: 0ch;
}

h4 {
    text-align: center;
    color: #061c47;
    margin-top: 0ch;
}

h2 {
    text-align: center;
    color: #061c47;
}

#button {
    color: rgb(241, 236, 237);
    padding: 4px;
    margin: 30px;
    background-color: #000105;
}